<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Drag n Drop with JavaScript

    link(rel="stylesheet", href="index.css")
  body
    #app 
      header
        h1 DRAG n DROP

      .lists
        .list
          .list-item(draggable="true") list item 1
          .list-item(draggable="true") list item 2
          .list-item(draggable="true") list item 3
        .list
        .list


    script(src="index.js")